body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Центр по горизонталі */
    align-items: center;     /* Центр по вертикалі */
    background-color: #05070a; /* Твій чорний фон */
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden; /* Щоб не було прокрутки */
}

.centered-box {
    text-align: center;
    padding: 20px;
}

.icon {
    font-size: 80px;
    color: #0084ff; /* Твій синій колір */
    margin-bottom: 20px;
    animation: pulse 2s infinite; 
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

p {
    color: #505050;
    font-size: 1.2rem;
    margin-top: 15px;
}


.line {
    height: 4px;
    width: 60px;
    background-color: #0084ff;
    margin: 30px auto 0;
    border-radius: 2px;
}


@keyframes pulse {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
}
